@use '../../assets/styles/mixins' as mixin;

.slideshow {
  width: 100%;
  height: 415px;
  div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @include mixin.sm {
    height: 255px;
    input {
      width: 13px;
      height: 21px;
    }
  }
}
.btn__back,
.btn__next {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn__back {
  left: 23px;
  @include mixin.sm {
    left: 6px;
  }
}
.btn__next {
  right: 23px;
  @include mixin.sm {
    right: 6px;
  }
}
.counter {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 500;
  font-size: 18px;
  z-index: 10;
  @include mixin.sm {
    display: none;
  }
}
