@use '../../assets/styles/mixins' as mixin;

.main {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 40px 0;
  max-width: 80%;
  margin: 0 auto;
  @include mixin.sm {
    max-width: 100%;
    row-gap: 20px;
    padding: 40px 0;
  }
}
