@use '../../assets/styles/mixins' as mixin;

.collapse {
  width: 100%;
  cursor: pointer;
  height: 100%;
  transition: height 0.2s ease-in-out;
  &.height50 {
    height: 50px;
  }
  &__bar {
    position: relative;
    padding: 10px 20px 10px 15px;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    @include mixin.sm {
    }
  }
  &__title {
    color: white;
    font-weight: 700;
    font-size: 24px;
    @include mixin.sm {
      font-size: 13px;
    }
  }
  &__arrows {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
    @include mixin.sm {
      width: 16px;
    }
  }
  &__arrows.active {
    transform: rotate(-180deg);
  }

  &__menu {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background: hsla(0, 0%, 96%, 0.451);
    border-radius: 10px 10px 5px 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(-40px);
    @include mixin.sm {
      font-size: 12px;
      ul {
        li {
          line-height: 17.11px;
          font-size: 12px;
        }
      }
    }
  }
}

.activ {
  opacity: 1;
  height: 100%;
  transform: translateY(0px);
  z-index: 0;
}
