@use '../../assets/styles/mixins' as mixin;
.header {
  padding: 45px 0 50px;
  @include mixin.sm {
    padding: 20px 0 25px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding-left: 3.6rem;
        font-weight: 500;
        font-size: 1.5rem;
        @include mixin.sm {
          font-size: 0.75rem;
          text-transform: uppercase;
          padding-left: 26px;
        }
      }
      .active {
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }
}

.logo {
  height: auto;
  width: 210px;
  @include mixin.sm {
    width: 145px;
  }
}
