@use '../../assets/styles/mixins' as mixin;

.footer {
  padding: 45px 0;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__img {
    width: 122px;
    height: auto;
  }
  &__text {
    padding-top: 50px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    @include mixin.sm {
      padding-top: 10px;
      font-size: 12px;
      width: 130px;
    }
  }
}
