* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

input {
  font-family: var(--font-family);
}

::placeholder {
  font-family: var(--font-family);
}
a {
  text-decoration: none;
  color: var(--dark);
}
