@use './mixins' as mixin;

.container {
  max-width: 80%;
  margin: 0 auto;
  @include mixin.sm {
    max-width: 90%;
  }
}
.height-100 {
  min-height: 100vh;
}

.primary {
  color: var(--primary);
}
.light-grey {
  color: #e3e3e3;
}

.bradius__5 {
  border-radius: 5px;
}
.bradius__10 {
  border-radius: 10px;
}
