@use '../../assets/styles/mixins' as mixin;

*.main {
  background: #f6f6f6;
  border-radius: 25px;
  min-height: 829px;
  margin: 50px 0;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
  justify-items: center;
  row-gap: 50px;
  @include mixin.sm {
    background: transparent;
    row-gap: 20px;
    padding: 20px 0;
    margin: 0;
  }
}
